<h1><%= t('views.task') %></h1>
<%= link_to t('views.profile'), user_path(@user) %>
<br><br><br>
<table>
  <thead>
    <tr>
      <th><%= t('attributes.title') %></th>
      <th></th>
      <th><%= t('attributes.date') %></th>
    </tr>
  </thead>
  <tbody>
  <% if can? :manage, :all %>
  <%= puts "Number of tasks: #{@tasks.size}" %>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td></td>
        <td><%= task.date %></td>
        <td></td>
        <td><%= link_to t('views.view_task'), user_task_path(@user, task.id) %></td>
        <td><%= link_to t('buttons.edit'), edit_user_task_path(@user, task.id) %></td>
        <td><%= link_to t('buttons.delete'), user_task_path(@user, task.id), data: {
                                                                               turbo_method: :delete,
                                                                               turbo_confirm: t('confirmations.delete_task'),
                                                                             } %> </td>
      </tr>
    <% end %>
  <% else %>
  <%= puts "Number of tasks: #{@tasks.size}" %>
    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td></td>
        <td><%= task.date %></td>
        <td></td>
        <td><%= link_to t('views.view_task'), user_task_path(@user, task.id) %></td>
        <td><%= link_to t('buttons.edit'), edit_user_task_path(@user, task.id) %></td>
        <td><%= link_to t('buttons.delete'), user_task_path(@user, task.id), data: {
                                                                               turbo_method: :delete,
                                                                               turbo_confirm: t('confirmations.delete_task'),
                                                                             } %> </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<br><br><br>
<%= link_to t('buttons.create_task'), new_user_task_path %>
