<div class='page-container'>
  <div class='user-page-edit-container'>
    <h1 class='h1title'><%= t('buttons.edit') %></h1>
    <%= form_with(model: @user, class: 'user-page-edit-forms') do |f| %>
      <% fields = ['first_name', 'last_name', 'employee_id', 'date_of_birth', 'joining_day', 'designation', 'email'] %>
      <% fields.each do |field| %>
        <div class="user-page-edit-label-<%= field %>">
          <%= f.label t("attributes.#{field}") %>
          <% if @user.errors[field].any? %>
            <span class="validation-error">
              <%= @user.errors[field].join(', ') %> 
            </span>
          <% end %>
        </div>
        <div class="user-page-edit-field-<%= field %>">
          <%= f.text_field field.to_sym, class: 'user-page-edit-field-input' %>
        </div>
      <% end %>
      <div class='user-page-edit-label-profile-photo'>
        <%= f.label t('attributes.profile_photo') %>
        <% if @user.errors[:profile_photo].any? %>
            <span class="validation-error">
              <%= @user.errors[:profile_photo].join(', ') %> 
            </span>
          <% end %>
      </div>
      <div class='user-page-edit-field-profile-photo'>
        <%= f.file_field :profile_photo, class: 'user-page-edit-field-input-profile-photo' %>
      </div>
      <div class='user-page-edit-button'>
        <%= link_to t('attributes.back'), user_path(@user), class: 'user-page-edit-button-back' %>
        <%= f.submit t('buttons.edit'), class: 'user-page-edit-button-edit' %>
      </div>
    <% end %>
  </div>
</div>
