<div class='page-container'>
  <div class='user-page-new-container'>
    <h1 class='h1_title'><%= t('views.create') %></h1>
    <%= form_with(model: @user, class: 'user-page-new-forms') do |f| %>
    <% fields = ['first_name', 'last_name', 'employee_id', 'designation', 'email'] %>
    <% fields.each do |field| %>
      <div class="user-page-new-label-<% field %>">
        <%= f.label t("attributes.#{field}"), class: "user-page-new-label-#{field}" %>
        <% if @user.errors[field].any? %>
          <span class="validation-error">
            <%= @user.errors[field].join(', ') %> 
          </span>
        <% end %>
      </div>
      <div class="user-page-new-field-<%= field %>">
         <%= f.text_field field.to_sym, class: 'user-page-new-field-input' %>
      </div>
    <% end %>
    <div class='user-page-new-label-date_of_birth'>
      <%= f.label t('attributes.date_of_birth'), class: 'user-page-new-label-date_of_birth' %>
      <% if @user.errors[:date_of_birth].any? %>
        <span class="validation-error">
          <%= @user.errors[:date_of_birth].join(', ') %> 
        </span>
      <% end %>
    </div>
    <div class='user-page-new-field-date_of_birth'>
      <%= f.date_field :date, class: 'user-page-new-field-input' %>
    </div>
    <div class='user-page-new-label-joining_day'>
      <%= f.label t('attributes.joining_day') %>
      <% if @user.errors[:joining_day].any? %>
        <span class="validation-error">
          <%= @user.errors[:joining_day].join(', ') %> 
        </span>
      <% end %>
    </div>
    <div class='user-page-new-field-joining_day'>
      <%= f.date_field :joining_day, class: 'user-page-new-field-input' %>
    </div>
    <div class='user-page-new-label-password'>
      <%= f.label t('attributes.password') %>
      <% if @user.errors[:password].any? %>
        <span class="validation-error">
          <%= @user.errors[:password].join(', ') %> 
        </span>
      <% end %>
    </div>
    <div class='user-page-new-field-password'>
      <%= f.text_field :password, class: 'user-page-new-field-input' %>
    </div>
    <div class='user-page-new-label-password_confirmation'>
      <%= f.label t('attributes.password_confirmation'), class: 'user-page-new-label-password_confirmation' %>
      <% if @user.errors[:password_confirmation].any? %>
        <span class="validation-error">
          <%= @user.errors[:password_confirmation].join(', ') %> 
        </span>
      <% end %>
    </div>
    <div class='user-page-new-field-password_confirmation'>
      <%= f.text_field :password_confirmation, class: 'user-page-new-field-input' %>
    </div>
    <div>
    <%= f.label t('attributes.profile_photo'), class: 'user-page-new-label-profile-photo' %> 
    <% if @user.errors[:profile_photo].any? %>
      <span class="validation-error">
        <%= @user.errors[:profile_photo].join(', ') %> 
      </span>
    <% end %>
    </div>
    <div>
      <%= f.file_field :profile_photo, class: 'user-page-new-field-input' %>
    </div>
  <div>
    <div class='user-page-new-button'>
      <%= link_to t('buttons.back'), new_user_session_path, class: 'user-page-new-button-back' %>
      <%= f.submit t('buttons.create_user'), class: 'user-page-new-button-create' %>
    </div>
    <% end %>
  </div>
</div>
