<%= link_to t('back'), root_path %>
<h1>Create User</h1>
<%= form_with model: @user do |f| %>
  <div>
    <%= f.label t('firstname') %><br>
    <%= f.text_field :firstname %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('lastname') %><br>
    <%= f.text_field :lastname %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('Employee') %><br>
    <%= f.text_field :employee_id %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('date_of_birth') %><br>
    <%= f.date_field :date_of_birth %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('joining_day') %><br>
    <%= f.date_field :joining_day %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('Designation') %><br>
    <%= f.text_field :designation %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('profile_picture') %><br>
    <%= f.text_field :profile_picture %><br>
  </div>
  <div>
    <%= f.label t('Email') %><br>
    <%= f.text_field :email %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('password') %><br>
    <%= f.text_field :password %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('password_confirmation') %><br>
    <%= f.text_field :password_confirmation %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div>
    <%= f.submit t('register') %> 
  </div>
<% end %>
