<%= link_to t('buttons.back'), root_path %>
<h1><%= t('views.create_user') %></h1>
<%= form_with model: @user do |f| %>
  <div>
    <%= f.label t('attributes.firstname') %><br>
    <%= f.text_field :firstname %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('attributes.lastname') %><br>
    <%= f.text_field :lastname %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('attributes.employee_id') %><br>
    <%= f.text_field :employee_id %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('attributes.date_of_birth') %><br>
    <%= f.date_field :date_of_birth %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('attributes.joining_day') %><br>
    <%= f.date_field :joining_day %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('attributes.designation') %><br>
    <%= f.text_field :designation %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('attributes.profile_picture') %><br>
    <%= f.text_field :profile_picture %><br>
  </div>
  <div>
    <%= f.label t('attributes.email') %><br>
    <%= f.text_field :email %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('attributes.password') %><br>
    <%= f.text_field :password %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <div>
    <%= f.label t('attributes.password_confirmation') %><br>
    <%= f.text_field :password_confirmation %><br>
    <% if @user.errors[:firstname].any? %>
      <div class="validation-error">
        <%= @user.errors.full_messages_for(:firstname).join(', ') %>
      </div><br>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div>
    <%= f.submit t('buttons.register') %> 
  </div>
<% end %>
