<div class='page-container'>
  <div class='user-page-show-container'>
    <%= link_to t('buttons.log_out'), new_user_session_path, data: { turbo_method: :delete } %>
    <%= link_to t('buttons.edit'), edit_user_path %>
    <%= link_to t('buttons.delete'), user_path(@user), data: {
                                                         turbo_method: :delete,
                                                         turbo_confirm: t('confirmations.delete_user'),
                                                       } %>

    <div class='user-page-profile-picture'>
      <%= t('attributes.profile_photo') %>
      <% if @user.profile_photo.attached? %>
       <%= image_tag(@user.image_resize) %>
      <% end %>
    </div>
    <div class='user-page-first_name'>
      <%= t('attributes.first_name') %> 
      <%= @user.first_name %>
    </div>
    <div class='user-page-last_name'>
      <%= t('attributes.last_name') %> 
      <%= @user.last_name %>
    </div>
    <div>
      <%= t('attributes.employee_id') %> 
      <%= @user.date_of_birth %>
    </div>
      <%= t('attributes.date_of_birth') %> 
      <%= @user.email %>
    <div>
      <%= t('attributes.joining_day') %> 
      <%= @user.designation %>
    </div>
      <%= t('attributes.designation') %> 
      <%= @user.employee_id %>
    <div>
      <%= t('attributes.email') %> 
      <%= @user.joining_day %>
    </div>
    <div>
      <%= t('attributes.role') %> 
      <%= @user.role %>
    </div>
    <div> 
      <%= link_to t('views.task'), user_tasks_path(@user) %>
      <%= link_to t('views.journal'), user_journals_path(@user) %>
      <%= link_to t('views.members'), users_path %>
    </div>
  </div>
</div>
