<div class='page-container'>
  <div class='user-page-show-container'>
    <h1 class='h1title'><%= t('attributes.profile') %></h1>
    <div class='user-page-show-buttons-profile'>
      <%= link_to t('buttons.edit'), edit_user_path, class: 'user-page-show-button-edit' %>
      <%= link_to t('buttons.delete'), user_path(@user), class: 'user-page-show-button-delete', data: {
                                                           turbo_method: :delete,
                                                           turbo_confirm: t('confirmations.delete_user'),
                                                         } %>   
    </div>
    <div class='user-page-show-profile-photo'>
      <% if @user.profile_photo.attached? %>
        <%= image_tag(@user.image_resize) %>
      <% end %>
    </div>
    <% fields = ['first_name', 'last_name', 'employee_id', 'date_of_birth', 'email', 'joining_day', 'designation', 'role'] %>
    <% fields.each do |field| %>
      <div class="user-page-show-<%= field %>">
        <div class="user-page-show-label-column">
          <span><%= t("attributes.#{field}") %></span>
        </div>
        <div class="user-page-show-field-column">
          <span class="user-page-field-<%= field %>"><%= @user.send(field) %></span>
        </div>
      </div>
    <% end %>
    <div class='user-page-show-buttons-pages'>
        <%= link_to t('views.task'), user_tasks_path(@user), class: 'user-page-show-button-task' %>
        <%= link_to t('views.journal'), user_journals_path(@user), class: 'user-page-show-button-journal' %>
        <%= link_to t('views.members'), users_path, class: 'user-page-show-button-members' %>
    </div>
  </div>
</div>
