<h1><%= t('views.welcome', name: @user.first_name) %></h1>
<%= link_to t('buttons.log_out'), new_user_session_path, data: { turbo_method: :delete } %>
<br><br><br>
<%= link_to t('buttons.edit'), edit_user_path %>
<br><br><br>
<%= link_to t('buttons.delete'), user_path(@user), data: {
                                                     turbo_method: :delete,
                                                     turbo_confirm: t('confirmations.delete_user'),
                                                   } %>
<br><br>
<table>
    <tr>
      <th><%= t('attributes.profile_photo') %></th>
      <% if @user.profile_photo.attached? %>
       <%= image_tag(@user.image_resize) %>
      <% end %>
    </tr>
    <tr>
      <th><%= t('attributes.first_name') %></th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th><%= t('attributes.last_name') %></th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th><%= t('attributes.employee_id') %></th>
      <td><%= @user.date_of_birth %></td>
    </tr>
    <tr>
      <th><%= t('attributes.date_of_birth') %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th><%= t('attributes.joining_day') %></th>
      <td><%= @user.designation %></td>
    </tr>
    <tr>
      <th><%= t('attributes.designation') %></th>
      <td><%= @user.employee_id %></td>
    </tr>
    <tr>
      <th><%= t('attributes.email') %></th>
      <td><%= @user.joining_day %></td>
    </tr>
    <tr>
      <th><%= t('attributes.role') %></th>
      <td><%= @user.role %></td>
    </tr>
</table>
<br><br><br>
<%= link_to t('views.journal'), user_journals_path(@user) %>
<br><br><br>
<%= link_to t('views.members'), users_path %>
