<body class='pdf-container'>
    <div class=> 
      <h1></h1>
      <h2></h2>
      <h3> </h3>
      <h3> </h3>
      <h3> </h3>
    </div>
</body>



<h1><%= t('views.journal') %></h1>
<br><br>
<br><br>
<table>
  <tr>
    <th><%= t('attributes.title') %></th>
    <td><%= @journal.title %></td>
  </tr>
  <tr>
    <th><%= t('attributes.date') %></th>
    <td><%= @journal.date %></td>
  </tr>
  <tr>
    <th><%= t('attributes.content') %></th>
    <td><%= @journal.content %></td>
  </tr>
  <tr>
    <th><%= t('attributes.goals_today') %></th>
    <td><%= @journal.goals_today %></td>
  </tr>
  <tr>
    <th><%= t('attributes.goals_tomorrow') %></th>
    <td><%= @journal.goals_tomorrow %></td>
  </tr>
</table>
