<div class='page-container'>
  <div class='journal-page-new-container'>
    <h1 class='h1_title'><%= t('views.journal') %></h1>
    <%= form_with(model: [@user, @journal], class: 'journal-page-new-forms') do |f| %>
    <% fields = ['title', 'content', 'goals_today', 'goals_tomorrow'] %>
    <% fields.each do |field| %>
      <div class="journal-page-new-label-<% field %>">
        <%= f.label t("attributes.#{field}"), class: "journal-page-new-label-#{field}" %>
        <% if @journal.errors[field].any? %>
          <span class="validation-error">
            <%= @journal.errors[field].join(', ') %> 
          </span>
        <% end %>
      </div>
      <div class="journal-page-new-field-<%= field %>">
         <%= f.text_field field.to_sym, class: 'journal-page-new-field-input' %>
      </div>
      <% end %>
      <div class='journal-page-new-label-date'>
      <%= f.label t('attributes.date') %>
      <% if @journal.errors[:date].any? %>
        <span class="validation-error">
          <%= @journal.errors[:date].join(', ') %> 
        </span>
      <% end %>
    </div>
    <div class='journal-page-new-field-date'>
      <%= f.date_field :date, class: 'journal-page-new-field-input' %>
    </div>
      <div class='journal-page-new-buttons'>
        <%= link_to t('buttons.back'), user_journals_path(@user), class: 'journal-page-new-button-back' %>
        <%= f.submit t('buttons.create_journal'), class: 'journal-page-new-button-create' %>
      </div>
      <% end %>
  </div>
</div>
