<h1><%= t('views.journal') %></h1>
<br><br>
<%= link_to t('buttons.back'), user_journals_path %>
<br><br>
<table>
  <tr>
    <th><%= t('attributes.title') %></th>
    <td><%= @journal.title %></td>
  </tr>
  <tr>
    <th><%= t('attributes.date') %></th>
    <td><%= @journal.date %></td>
  </tr>
  <tr>
    <th><%= t('attributes.content') %></th>
    <td><%= @journal.content %></td>
  </tr>
  <tr>
    <th><%= t('attributes.goals_today') %></th>
    <td><%= @journal.goals_today %></td>
  </tr>
  <tr>
    <th><%= t('attributes.goals_tomorrow') %></th>
    <td><%= @journal.goals_tomorrow %></td>
  </tr>
</table>
