<div class='page-container'>
  <div class='goal-page-new-container'>
    <h1 class='h1title'><%= t('views.goal') %></h1>
    <%= form_with(model: [@user, @goal], class: 'goal-page-new-forms') do |f| %>
      <div class='goal-page-new-label-title'>
        <%= f.label t('attributes.title') %>
        <% if @goal.errors[:title].any? %>
          <span class="validation-error">
            <%= @goal.errors[:title].join(', ') %> 
          </span>
        <% end %>
        <%= f.text_field :title %>
      </div>

      <div class='goal-page-new-label-description'>
        <%= f.label t('attributes.descrition') %>
        <% if @goal.errors[:description].any? %>
          <span class="validation-error">
            <%= @goal.errors[:description].join(', ') %> 
          </span>
        <% end %>
        <%= f.text_field :description %>
      </div>

      <div class='goal-page-new-label-date'>
        <%= f.label t('attributes.date') %>
        <% if @goal.errors[:goal].any? %>
          <span class="validation-error">
            <%= @goal.errors[:goal].join(', ') %> 
          </span>
        <% end %>
        <%= f.date_field :date %>
      </div>

      <div class='goal-page-new-label-status'>
        <%= f.label t('attributes.status') %>
        <% if @goal.errors[:status].any? %>
          <span class="validation-error">
            <%= @goal.errors[:status].join(', ') %> 
          </span>
        <% end %>
          <%= f.select :status, Goal.statuses.keys.to_a.map { |status| [t("goal.statuses.#{status}"), status] } %>
      </div>
      
      <div class='goal-page-new-buttons'>
        <%= link_to t('attributes.back'), user_goals_path, class: 'user-page-new-button-back' %>
        <%= f.submit t('buttons.create'), class: 'user-page-new-button-create' %>
      </div>
      
      <% end %>
  </div>
</div>
