<div class='page-container'>
  <div class='goal-page-new-container'>
    <h1 class='h1_title'><%= t('views.goal') %></h1>
    <%= form_with(model: [@user, @goal], class: 'goal-page-new-forms') do |f| %>
      <div class='goal-page-new-label-title'>
        <%= f.label t('attributes.title') %>
        <% if @goal.errors[:title].any? %>
          <span class="validation-error">
            <%= @goal.errors[:title].join(', ') %> 
          </span>
        <% end %>
      </div>
      <div class='goal-page-new-field-title'>
        <%= f.text_field :title, class: 'goal-page-new-field-input' %>
      </div>
      <div class='goal-page-new-label-description'>
        <%= f.label t('attributes.description') %>
        <% if @goal.errors[:description].any? %>
          <span class="validation-error">
            <%= @goal.errors[:description].join(', ') %> 
          </span>
        <% end %>
      </div>
      <div class='goal-page-new-field-description'>
        <%= f.text_field :description, class: 'goal-page-new-field-input' %>
      </div>
      <div class='goal-page-new-label-date'>
        <%= f.label t('attributes.date') %>
        <% if @goal.errors[:date].any? %>
          <span class="validation-error">
            <%= @goal.errors[:date].join(', ') %> 
          </span>
        <% end %>
      </div>
      <div class='goal-page-new-field-date'>
        <%= f.date_field :date, class: 'goal-page-new-field-input' %>
      </div>
      <div class='goal-page-new-label-status'>
        <%= f.label t('attributes.status') %>
      </div>
      <div class='goal-page-new-field-status'>
        <%= f.select :status, Goal.statuses.keys.to_a.map { |status| [t("goal.statuses.#{status}"), status] }, class: 'goal-page-new-field-input' %>
      </div>
      <div class='goal-page-new-buttons'>
        <%= link_to t('attributes.back'), user_goals_path(@user), class: 'goal-page-new-button-back' %>
        <%= f.submit t('buttons.create_goal'), class: 'goal-page-new-button-create' %>
      </div>
    <% end %>
  </div>
</div>
