<h1><%= t('login') %></h1>
<%= form_with model: @user, url: user_sessions_path do |f| %>
  <div>
    <%= f.label t('firstname') %><br>
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label t('password') %><br>
    <%= f.text_field :password %>
  </div>
  <p>
    <%= f.submit t('login') %>
  </p>
<% end %>
<%= link_to t('register'), new_user_path %>
